pyautogui==0.9.54 

opencv-python==4.9.0.80
Pillow==10.1.0 
numpy==1.24.4

PyQt5==5.15.10 
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0

pytesseract==0.3.10 

pytest==7.4.3 
black==23.11.0 
flake8==6.1.0

PyYAML==6.0.1
colorlog==6.7.0

keyboard==0.13.5